<div class="row mb-5">
	<div class="col-12 mt-2">
		<form>
			<div class="row mb-3">
				<div class="col-12">
					<label for="exampleInputEmail1" class="form-label">Name</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label for="exampleInputEmail1" class="form-label">Contact</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label for="exampleInputEmail1" class="form-label">Localization</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label for="exampleInputEmail1" class="form-label">Postal Code</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label for="exampleInputEmail1" class="form-label">Description</label>
					<textarea class="form-control" aria-label="With textarea" rows="5"></textarea>
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<label for="exampleInputEmail1" class="form-label">Select Image</label>
					<input class="form-control" type="file" id="formFile">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				</div>
			</div>
			<div class="row mb-5 d-flex justify-content-center">
				<div class="col-6">
					<button type="submit" class="btn btn-rainbow mb-3 w-100">Create Action</button>
				</div>
			</div>
		</form>
	</div>
</div>
