<div
  class="image-wrapper rounded"
  [ngStyle]="{ backgroundImage: 'url(' + action?.image + ')' }"
></div>
<div class="text">
  <h2>
    <b>
      {{ action?.name }}
    </b>
  </h2>
  <div class="row px-2">
    <span
      class="
        badge
        rounded-pill
        bg-rainbow
        w-auto
        bg-opacity-75
        d-flex
        align-items-center
        py-2
        ml-2
      "
    >
      <b> Primary </b>
    </span>
    <div class="col-12 mt-4">
      <div class="text-sketch-50 mt-1 rounded-pill"></div>
      <div class="text-sketch-75 mt-1 rounded-pill"></div>
      <div class="text-sketch-100 mt-1 rounded-pill"></div>
    </div>
    <div class="col-12 mt-4">
      {{ action?.description }}
    </div>
  </div>
</div>
