/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Lato", sans-serif !important;
  min-height: 90vh !important;
  height: 100%;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "./app/themes/dark-theme.scss";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
* {
  transition: 0.3s;
}

.btn-rainbow {
  background: linear-gradient(to top left, #2926bd, #ff3d00);
  //   background: linear-gradient(55deg, #56e3db, #7371ff);
  font-weight: bold;
  color: white;

  &:focus {
    box-shadow: 0 0 0 0.25rem $lightblue;
  }
  &:disabled {
    background: grey;
  }
}

.img-box {
  min-height: 300px;
  border: 10px dashed $dark-bg;
}
