/* You can add global styles to this file, and also import other style files */

body {
	font-family: 'Lato', sans-serif !important;
	min-height: 90vh !important;
	height: 100%;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "./app/themes/dark-theme.scss";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";