:host {
  img {
    min-height: 100px;
    transition: 0.5s ease-in;
  }

  .image-wrapper {
    height: 300px;
    background: #202037;
    background-size: cover;
    transition: 2s;
    object-fit: cover;
  }
}
